Repository mateusjbarbosa/anotaai-test: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run eslint, npm run test:staged

chore: update http requests reference
  requisitions.http
Due: none

docs: update TODO.md
  TODO.md
Due: npm run prettier

chore: update http requests file name
  requests.http
Due: none

feat: move cron job for specific file
  src/receive-messages.ts
Due: npm run eslint, npm run test:staged

feat: improve main.ts organization
  src/main.ts
Due: npm run eslint, npm run test:staged

chore: update env variables
  .env.example
  src/infrastructure/bucket/S3Adapter.ts
  src/infrastructure/database/MongoClientAdapter.ts
  src/infrastructure/queue/SQSAdapter.ts
Due: npm run eslint, npm run test:staged

build: (WIP) add dockerfile
  Dockerfile
Due: none

Revert "build: (WIP) add dockerfile"
  Dockerfile
Due: none

chore: update aws credentials format
  .env.example
  src/infrastructure/bucket/S3Adapter.ts
  src/infrastructure/queue/SQSAdapter.ts
Due: npm run eslint, npm run test:staged

build: update dockerfile
  Dockerfile
Due: none

build: update dockerfile
  Dockerfile
  requests-prod.http
Due: none

chore: change API port to env variable
  .env.example
  src/main.ts
Due: npm run eslint, npm run test:staged

chore: add debug
  src/infrastructure/database/MongoClientAdapter.ts
  src/main.ts
Due: npm run eslint, npm run test:staged

chore: update http requests references
  requests-prod.http
  requests.http
Due: none

chore: add pino logger
  package-lock.json
  package.json
Due: npm run prettier

feat: change all console.log for pino logger
  src/infrastructure/bucket/S3Adapter.ts
  src/infrastructure/database/MongoClientAdapter.ts
  src/infrastructure/queue/SQSAdapter.ts
  src/main.ts
Due: npm run eslint, npm run test:staged

feat: create custom error
  src/errors/ApplicationError.ts
  src/errors/MongoClientAdapterError.ts
  src/errors/RequestError.ts
  src/errors/S3AdapterError.ts
  src/errors/SQSAdapterError.ts
  src/infrastructure/bucket/S3Adapter.ts
  src/infrastructure/database/MongoClientAdapter.ts
  src/infrastructure/http/routes.ts
  src/infrastructure/queue/FakeQueue.ts
  src/infrastructure/queue/SQSAdapter.ts
  src/main.ts
Due: npm run eslint, npm run test:staged

docs: update README.md
  README.md
Due: npm run prettier

feat: add root http route
  src/infrastructure/http/routes.ts
Due: npm run eslint, npm run test:staged

chore: remove pino-pretty
  package-lock.json
  package.json
Due: npm run prettier

chore: add docker-compose.yaml
  docker-compose.yaml
Due: none

chore: update .env.example
  .env.example
Due: none

docs: update README.md
  README.md
  docs/aws-get-account-id.png
  docs/aws-get-region.png
Due: npm run prettier

chore: update http requests reference
  requests.http
Due: none

Path conditions:
  npm run prettier: any of: *.{json,md,txt}
  npm run eslint: any of: *.{js,ts}
  npm run test:staged: any of: *.{js,ts}
