Repository mateusjbarbosa/anotaai-test: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint, npm run prettier

.lintstagedrc.json:

{
  "*.{js,ts}": "npm run eslint",
  "*.{json,md,txt}": "npm run prettier"
}

chore: remove lint script
  package.json
Due: npm run prettier

chore: add commitlint
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: npm run eslint, npm run prettier

chore: add jest and swc with initial config
  .gitignore
  jest.config.ts
  package-lock.json
  package.json
Due: npm run eslint, npm run prettier

chore: prepare lint-staged to run tests
  .lintstagedrc.json
Due: npm run prettier

chore: include src folder in the tsconfig.json
  tsconfig.json
Due: npm run prettier

feat: create sum function to validate jest
  src/example.ts
Due: npm run eslint

test: create sum function to validate jest
  src/example.test.ts
Due: npm run eslint

chore: update prettier command
  .lintstagedrc.json
  package.json
Due: npm run prettier

refactor: remove example code
  src/example.test.ts
  src/example.ts
Due: npm run eslint

chore: update lint rules
  .eslintrc.json
  .prettierrc.json
  package.json
Due: npm run prettier

chore: update test commands
  package.json
Due: npm run prettier

chore: update prettier version
  package-lock.json
  package.json
Due: npm run prettier

feat: create uuid value object
  src/entities/UUID.ts
Due: npm run eslint

test: create uuid value object
  test/entities/UUID.test.ts
Due: npm run eslint

feat: create category entity
  src/entities/Category.ts
Due: npm run eslint

test: create category entity
  test/entities/Category.test.ts
Due: npm run eslint

feat: create product entity
  src/entities/Product.ts
Due: npm run eslint

test: create product entity
  test/entities/Product.test.ts
Due: npm run eslint

feat: add ID in the category entity
  src/entities/Category.ts
Due: npm run eslint

test: add ID in the category entity
  test/entities/Category.test.ts
Due: npm run eslint

chore: add @types/node
  package-lock.json
  package.json
Due: npm run prettier

feat: add create method in the UUID
  src/entities/UUID.ts
Due: npm run eslint

test: add create method in the UUID
  test/entities/UUID.test.ts
Due: npm run eslint

feat: create categoryRepository interface
  src/application/repositories/CategoryRepository.ts
Due: npm run eslint

feat: create categoryRepository in memory database
  src/infrastructure/repositories/CategoryRepositoryMemory.ts
Due: npm run eslint

feat: create RegisterCategory usecase
  src/application/usecases/RegisterCategory.ts
Due: npm run eslint

test: create RegisterCategory usecase
  test/application/usecases/RegisterCategory.test.ts
Due: npm run eslint

chore: include test folder in the tsconfig.json
  tsconfig.json
Due: npm run prettier

chore: update eslint rules
  .eslintrc.json
Due: npm run prettier

feat: add calledBy param in the UUID entity
  src/entities/UUID.ts
Due: npm run eslint

test: add calledBy param in the UUID entity
  test/entities/UUID.test.ts
Due: npm run eslint

feat: add title and description validation in the category entity
  src/entities/Category.ts
Due: npm run eslint

feat: add calledBy in uuid of category entity
  src/entities/Category.ts
Due: npm run eslint

test: add tests for title, description and uuid in the category entity
  test/entities/Category.test.ts
Due: npm run eslint

feat: add title and description validation in the product entity
  src/entities/Product.ts
Due: npm run eslint

feat: add ID in entity and calledBy in uuid of product
  src/entities/Product.ts
Due: npm run eslint

test: add tests for title, description and uuid in the product entity
  test/entities/Product.test.ts
Due: npm run eslint

chore: add .eslintignore
  .eslintignore
Due: none
