Repository mateusjbarbosa/anotaai-test: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run prettier, npm run eslint, npm run test:staged

.lintstagedrc.json:

{
  "*.{json,md,txt}": "npm run prettier",
  "*.{js,ts}": ["npm run eslint", "npm run test:staged"]
}

refactor: remove get method of category repository
  src/application/repositories/CategoryRepository.ts
Due: npm run eslint, npm run test:staged

refactor: remove get method of category in memory database
  src/infrastructure/repositories/CategoryRepositoryMemory.ts
Due: npm run eslint, npm run test:staged

refactor: add entity as return of update in category repository
  src/application/repositories/CategoryRepository.ts
Due: npm run eslint, npm run test:staged

feat: add return in the update method of category in memory database
  src/infrastructure/repositories/CategoryRepositoryMemory.ts
Due: npm run eslint, npm run test:staged

fix: change param update method of category in memory database
  src/infrastructure/repositories/CategoryRepositoryMemory.ts
Due: npm run eslint, npm run test:staged

fix: change verification format of categoryIndex in the update method
  src/infrastructure/repositories/CategoryRepositoryMemory.ts
Due: npm run eslint, npm run test:staged

feat: export register category usecase output
  src/application/usecases/RegisterCategory.ts
Due: npm run eslint, npm run test:staged

feat: create UpdateCategory usecase
  src/application/usecases/UpdateCategory.ts
Due: npm run eslint, npm run test:staged

test: create UpdateCategory usecase
  test/application/usecases/UpdateCategory.test.ts
Due: npm run eslint, npm run test:staged

refactor: change delete param for UUID in the category repository
  src/application/repositories/CategoryRepository.ts
Due: npm run eslint, npm run test:staged

refactor: change delete param for UUID in the category in memory database
  src/infrastructure/repositories/CategoryRepositoryMemory.ts
Due: npm run eslint, npm run test:staged

feat: create DeleteCategory usecase
  src/application/usecases/DeleteCategory.ts
Due: npm run eslint, npm run test:staged

test: create DeleteCategory usecase
  test/application/usecases/DeleteCategory.test.ts
Due: npm run eslint, npm run test:staged

refactor: reorganize usecase folders
  src/application/usecases/category/DeleteCategory.ts
  src/application/usecases/category/RegisterCategory.ts
  src/application/usecases/category/UpdateCategory.ts
  test/application/usecases/category/DeleteCategory.test.ts
  test/application/usecases/category/RegisterCategory.test.ts
  test/application/usecases/category/UpdateCategory.test.ts
Due: npm run eslint, npm run test:staged

refactor: change output type of update category usecase
  src/application/usecases/category/UpdateCategory.ts
Due: npm run eslint, npm run test:staged

feat: create productRepository interface
  src/application/repositories/ProductRepository.ts
Due: npm run eslint, npm run test:staged

feat: create product in memory database
  src/infrastructure/repositories/ProductRepositoryMemory.ts
Due: npm run eslint, npm run test:staged

feat: create RegisterProduct usecase
  src/application/usecases/product/RegisterProduct.ts
Due: npm run eslint, npm run test:staged

test: create RegisterProduct usecase
  test/application/usecases/product/RegisterProduct.test.ts
Due: npm run eslint, npm run test:staged

feat: create UpdateProduct usecase
  src/application/usecases/product/UpdateProduct.ts
Due: npm run eslint, npm run test:staged

test: create UpdateProduct usecase
  test/application/usecases/product/UpdateProduct.test.ts
Due: npm run eslint, npm run test:staged

feat: create DeleteProduct usecase
  src/application/usecases/product/DeleteProduct.ts
Due: npm run eslint, npm run test:staged

test: create DeleteProduct usecase
  test/application/usecases/product/DeleteProduct.test.ts
Due: npm run eslint, npm run test:staged

feat: add getOne method in the category repository
  src/application/repositories/CategoryRepository.ts
Due: npm run eslint, npm run test:staged

feat: add getOne method in the product repository
  src/application/repositories/ProductRepository.ts
Due: npm run eslint, npm run test:staged

feat: create getOne implementation in category in memory database
  src/infrastructure/repositories/CategoryRepositoryMemory.ts
Due: npm run eslint, npm run test:staged

feat: create getOne implementation in the product in memory database
  src/infrastructure/repositories/ProductRepositoryMemory.ts
Due: npm run eslint, npm run test:staged

feat: create AssociateCategory usecase
  src/application/usecases/product/AssociateCategory.ts
Due: npm run eslint, npm run test:staged

test: create AssociateCategory usecase
  test/application/usecases/product/AssociateCategory.test.ts
Due: npm run eslint, npm run test:staged

chore: add express and @types/express
  package.json
Due: npm run prettier

chore: add rimraf
  package.json
Due: npm run prettier

chore: add @swc/cli and @swc/core to build production app
  .swcrc
  package.json
Due: npm run prettier

chore: update ignore files
  .eslintignore
  .gitignore
Due: none

chore: add start command
  package.json
Due: npm run prettier

chore: update @types/node version
  package.json
Due: npm run prettier

chore: update package-lock.json
  package-lock.json
Due: npm run prettier

feat: (WIP) create main.ts
  src/main.ts
Due: npm run eslint, npm run test:staged

chore: add requisitions.http
  requisitions.http
Due: none

docs: add TODO.md
  TODO.md
Due: npm run prettier

feat: change format to send id in the RegisterCategory usecase
  src/application/usecases/category/RegisterCategory.ts
Due: npm run eslint, npm run test:staged
